!!! XML
!!!
%html
  %head
    %title Pastykake Pastebin
    %link{:rel => 'stylehsset', :type => 'text/css', :href => "
<script type="text/javascript" src="js/shCore.js"></script>
<script type="text/javascript" src="js/shAutoloader.js"></script>

<link rel="stylesheet" type="text/css" href="css/shCore.css" />
<link rel="stylesheet" type="text/css" href="css/shThemeDefault.css" />
